.hero-section {
  min-height: 85vh;
  background: linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    ),
    url("https://media.istockphoto.com/id/638026548/photo/hindu-wedding-ceremony.jpg?s=612x612&w=0&k=20&c=_t-FJIlLGl5Ggwy0CelDEqRfO-mvJtOlHCabka-hg0g=");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-title {
  font-size: 4rem;
  font-weight: 700;
}

.hero-subtitle {
  font-size: 1.3rem;
  max-width: 700px;
  margin: auto;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
}

.feature-card {
  border: none;
  border-radius: 15px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.stat-box {
  text-align: center;
  padding: 30px;
}

.stat-number {
  font-size: 42px;
  font-weight: 700;
  color: #ff4d6d;
}

.testimonial-card {
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 3px 15px rgba(0,0,0,0.08);
}